.lineBreaker{
    width: 47rem;
    height: 2px;
    background-color: #DEDEDE;
    color:  #DEDEDE;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 750px){
    .lineBreaker{
        width: 95%;
    }
}