.frontPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
    justify-content: space-evenly;
}
.frontPage h1{
    font-size: 2.5rem;
    font-weight: 700;
}
  .borderCircle {
    border-radius: 9999px;
  }
  .frontPage p{
      width: 50%;
      text-align: center;
      font-weight: 400;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #666;
  }

  @media screen and (max-width: 750px){
      .frontPage p{
          width: 80%;
      }
  }